<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="../assets/css/style.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/5bfd5f746d.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

  <% if (title) { %>
    <title><%= title %></title>
  <% } %>
</head>
